<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
	<script type="text/javascript" src="/socket.io/socket.io.js" ></script>
  </head>
  <body>
    <nav>
		<ul>
			<li title="chat"><a href="/chat"><img src="/images/icon.png"></a></li>
			<li title="ChatRoom"><a href="/chat"><img src="/images/icon.png"></a></li>
			<li title="Calendar"><a href="/chat"><img src="/images/icon.png"></a></li>
			<li title="NetDisk"><a href="/chat"><img src="/images/icon.png"></a></li>
		</ul>
	</nav>
  </body>
</html>